*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #111D4A;
    color: #ffffff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
}

.choice:hover{
    background-color: #111D4A;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin-top: 5rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 3.5rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color: #c2cae8;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}